@import url('https://fonts.googleapis.com/css2?family=Asset&family=Coiny&family=Holtwood+One+SC&family=Nerko+One&display=swap');
    body {
      color: black;
      background-color: mistyrose;
      font-family: "Nerko One", Static;
      text-align: center;
    }

    h1,
    h3,
    p {
      font-weight: 500;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 1080px;
      height: 872px;
    }

    a {
      text-decoration: none;
    }

    button {
      background-color: #f07191;
      color: rgb(0, 0, 0);
      font-family: "Nerko One", Static;
      padding: 10px 20px;
      font-size: 18px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    button:hover {
      background-color: #f07191;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      margin-top: 30px;
    }

    th, td {
      padding: 10px;
      border: 1px solid #000000;
    }

    th {
      background-color: #f07191;
    }

    img.large {
      width: 200px; 
      height: auto;
    }